<a href="https://colab.research.google.com/github/wainel/Machine_Learning/blob/main/Total.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow.keras import layers
from tensorflow.keras.layers.experimental import preprocessing
from tensorflow import feature_column
from sklearn.model_selection import train_test_split

In [ ]:
from google.colab import files
data_to_load = files.upload()

Saving trainingdata.csv to trainingdata.csv

In [ ]:
import io
dataframe = pd.read_csv(io.BytesIO(data_to_load['trainingdata.csv']),sep=';')
dataframe.head()

   TITLE_LENGTH   MATCH_VALUE SAME_DATE  ... SAME_COUNTRY SAME_WELL SAME_DOC
0           135  -0,597495854        No  ...          Yes    NoWell       No
1            46  -0,897996962       Yes  ...          Yes    NoWell      Yes
2            46  -0,897996962        No  ...          Yes    NoWell       No
3            89  -0,624319553        No  ...          Yes        No       No
4            89  -0,662295878        No  ...          Yes        No       No

[5 rows x 7 columns]

In [ ]:
nb_rows, nb_cols = dataframe.shape

In [ ]:
df = pd.DataFrame(dataframe['TITLE_LENGTH'])
for col in dataframe.columns:
  if(dataframe[col].dtype == 'object'):
    serie = dataframe[col]
    one_hot = serie.unique()
    nb_one_hot = len(one_hot)
    if len(one_hot) < 10:
      one_hot_vector = np.zeros((nb_rows,nb_one_hot), dtype=int)
      for j in range(nb_one_hot):
        one_hot_vector[serie == one_hot[j],j] = 1
        new_title = col + '_' + one_hot[j]
        df[new_title] = one_hot_vector[:,j]
    else:
      serie = serie.str.replace(',','.')
      serie.astype(float)
      df[col] = serie

In [ ]:
df.head()

   TITLE_LENGTH   MATCH_VALUE  ...  SAME_DOC_No  SAME_DOC_Yes
0           135  -0.597495854  ...            1             0
1            46  -0.897996962  ...            0             1
2            46  -0.897996962  ...            1             0
3            89  -0.624319553  ...            1             0
4            89  -0.662295878  ...            1             0

[5 rows x 21 columns]